h1{
	font-family: Arial, sans-serif;
	font-weight: bold;
}
h2{
	font-family: Arial, sans-serif;
	font-weight: bolder;
}
p{
	font-family: Arial, sans-serif;
	font-size: 110%;
}
body {
	background-color: #d6e5ff;
}